<!-- -->
<ion-content>
    <div class="login-content">
  
      <!-- Logo -->
      <div class="title">
        <ion-icon name="bonfire" id="logo" color="primary"></ion-icon>
        <h2 ion-text class="text-primary">
          Sustainable Tourism App
        </h2>
      </div>
  
      <!-- Login form -->
      <form class="sections">
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="mail" slot="start" class="text-primary"></ion-icon>
              Email
            </ion-label>
            <ion-input type="email" inputmode="email" pattern="email"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="lock" item-start class="text-primary"></ion-icon>
              Password
            </ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <p text-right>
            <ion-text (click)="forgotPassword()" color="primary">
              <strong>Forgot Password?</strong>
            </ion-text>
          </p>
          <ion-button class="btn-signin" expand="block" (click)="login()">SIGN IN</ion-button>
        </form>

        <div class="sections">
          <hr class="hr-text" data-content="OR">
          <ion-button class="btn-signin" expand="block" (click)="login()" fill="outline">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            SIGN IN WITH GOOGLE
          </ion-button>
        </div>
  
  
  
      <!-- Other links -->
      <div text-center class="sections" id="signup">
        New here?
        <ion-text color="primary" (click)="register()"><strong>Sign up</strong></ion-text>
      </div>
  
    </div>
  </ion-content>
  